body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #191919;
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

label {
  margin-top: 10px;
}

input,
select {
  margin-top: 5px;
  padding: 5px;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}

.buttonClass {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-self: center;
}

/* .confirmButtonClass {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-self: center;
  margin-bottom: 10px;
  background-color: #000;
} */
